<template name="home">
{{>pageBack "/images/home.png"}}

<div class="row-fluid" style="margin-top:2%">
  <div class="span12">
    <div class="description-texts">
      <h1 class="site-slogan">
        <span>EVE EXPLORATION TOOL</span>
      </h1>
     <p class="app-description">
        <span>
          Track systems, wormholes, characters, and their contents.
        </span>
        <br>
        <span>
          Live data updates everywhere. Latest data, immediately.
        </span>
        <br>
        <span>
          Intuitive and fast mapping of complex system connections.
        </span>
     </p>
     <a class="btn btn-success" href={{pathFor "orgs"}}>Get Started</a>
    </div>
  </div>
</div>
</template>
