<template name="navbar">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={{pathFor "home"}}>EVE Exploration</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{#if currentUser}}
      <ul class="nav navbar-nav">
        <li class={{activeRoute "orgs"}}><a href="{{pathFor 'orgs'}}">Organizations</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Views <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {{#if orgViews}}
          {{#each orgViews}}
          {{#each views}}
          <li><a href={{viewPath}}>{{name}}</a></li>
          {{/each}}
          <li class="divider"></li>
          {{/each}}
          {{else}}
          <li><a href="#">No Views</a></li>
          {{/if}}
        </ul>
        </li>
        <li class={{activeRoute "api"}}><a href="{{pathFor 'api'}}">Authorizations</a></li>
      </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons }}
      </ul>
    </div>
  </div>
</nav>
</template>
