<template name="norg">
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-success center-block" style="width:485px">
      <div class="panel-heading">
        Create an Organization
      </div>
      <div class="panel-body">
        <form role="form" id="keyPanel">
          <div class="form-group">
            <h4>Organization Name</h4>
            <input type="text" class="form-control" name="orgname" />
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="usersviews"> Allow users to create views
            </label>
          </div>
          {{>agSelector groups}}
        </form>
      </div>
    </div>
  </div>
</div>
</template>
<template name="agSelector">
<div class="form-group">
  <h4>Access Groups</h4>
  <table class="table table-striped table-hover">
    <tbody>
    {{#each this}}
    <tr>
      <td><i class="fa fa-ban"></i> {{description}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  <a class="btn btn-default addUser">Add User</a>
  <a class="btn btn-default addChar">Add Character</a>
  <a class="btn btn-default addCorp">Add Corporation</a>
  <a class="btn btn-default addAlliance">Add Alliance</a>
</div>
{{#if showSubmit}}
<button type="submit" class="btn btn-default">Submit</button>
{{/if}}
</template>
