<template name="view">
<style>
.container{
  width: 100%
}
.col-lg-12{
  padding-left: 0;
  margin: 0;
}
.navbar {
  margin-bottom: 0;
}
</style>
<div class="row">
  <div class="col-lg-12">
    <div class="viewMap">
    {{>viewBody this}}
    </div>
    <div class="sidebar">
    </div>
  </div>
</div>
</template>

<template name="viewBody">
<svg width="100%" height="100%">
  <g class="zoom">
  </g>
  <g class="mapContainer">
  </g>
  <text x="75px" y="50px" text-anchor="middle" fill="white" style="font-family:'Open Sans',sans-serif; font-size:24px;">Map: {{theView.name}}</text>
</svg>
</template>
